#two{
    height: 100px;
    width:100px;
    background-color:blue;
    color:white;

}



 /* Practice : Create a toggle (Switching between two states) button that changes the screen to dark mode when clicked and light mode when clicked again */

 .light{
    background-color :white;
    color:black;
 }

 .dark{
    background-color:black;
    color:white;
 }